
.top-image{
    height: 15rem;
    position: relative;
}
.top-image .img{
    height: 100%;
    /* background:linear-gradient(90deg, rgba(255,103,55,0.5579481792717087) 0%, rgba(251,179,78,0.5523459383753502) 100%), url('./images/drive.jpg'); */
    background: url('./images/drive.jpg');
    filter: blur(3px);
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.top-image .title{
    color: var(--white-color);
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.safe-ride{
    display: flex;
    height: 30rem;
    align-items: center;
    justify-content: center;
    /* gap: -80px; */
}
.safe-ride .left, .right{
    width: 50%;
    height: 100%;
    /* padding:70px 70px ; */
}
.safe-ride .left{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
    padding: 70px 70px 70px 0px;
}
.safe-ride .left h2{
    font-size: 2rem;
}
.safe-ride .left p{
    font-size: medium;
    line-height: 30px;
    font-weight: 100;
    color: rgb(83, 85, 86);
    font-family: var(--second-font);
}

.safe-ride .right{
    display: flex;
    align-items: center;
    padding: 70px 0px 70px 70px;
}
.safe-ride .right img{
    width: 90%;
    height: 70%;
}