:root {
    --main-color:#ff6737;
    --black-color:#000002;
    --white-color:#edeff1;
    --btn-color:#4554a6;
    --second-color:#fbb34e;

    --main-font:"Oswald",sans-serif;
    --second-font:"Montserrat",sans-serif;
}
*{
    margin: 0;
    padding: 0;
    font-family: var(--second-font);
}
    /* .main{
        width: 100vw;
    } */
.yellow{
    color: var(--second-color);
}
.orange{
    color: var(--main-color);
}
