/* Base styles */
.testimonial-head {
    text-align: center;
    padding: 0 10px; /* Add padding to prevent overflow */
}

.slider-cantner {
    display: flex;
    flex-direction: column;
    /* margin-top: 50px; */
   /* height: 13rem; */
    width: 100%;
    max-width: 80rem; /* Max width to maintain structure */
    margin: auto;
    box-sizing: border-box; 
    /* overflow-x: hidden;  */
    padding-bottom: 2rem;
}

.slider-container h3 {
    color: var(--second-color);
}

.slider-container h2 {
    color: var(--btn-color);
}

.review-content {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-top: 15px;
}

.review-content img {
    object-fit: cover;
    width: 5rem;
    height: 5rem; /* Ensure height is the same as width */
    border-radius: 5px;
}

.testimonial-section {
    margin-top: 1.5rem;
    width: 100%; /* Ensure it takes up the full width */
    box-sizing: border-box; /* Include padding and borders in element's total width and height */
}

.review-section {
    width: 100%;
    max-width: 25rem; /* Max width for better responsiveness */
    text-align: start;
    margin: auto;
    overflow: hidden; /* Prevent overflow */
}

.cust h4 {
    font-family: var(--main-font);
    color: var(--btn-color);
}

.cust h6 {
    font-family: var(--second-font);
}

/* Responsive styles */
@media (max-width: 1200px) {
    .slider-cantner {
        padding: 0 10px; /* Add padding to prevent overflow */
    }

    .review-section {
        max-width: 22rem; /* Adjust max width for better responsiveness */
    }

    .review-content img {
        width: 4rem;
        height: 4rem; /* Ensure height is the same as width */
    }
}

@media (max-width: 992px) {
    .slider-cantner {
        padding: 0 10px; /* Add padding to prevent overflow */
    }

    .review-section {
        max-width: 20rem; /* Adjust max width for better responsiveness */
    }

    .review-content img {
        width: 3.5rem;
        height: 3.5rem; /* Ensure height is the same as width */
    }
}

@media (max-width: 768px) {
    .slider-cantner {
        padding: 0px 10px; /* Add padding to prevent overflow */
    }

    .review-section {
        width: 100%;
        padding: 0 10px; /* Add padding to prevent overflow */
    }

    .review-content img {
        width: 3rem;
        height: 3rem; /* Ensure height is the same as width */
    }
}

@media (max-width: 576px) {
    .testimonial-head h3 {
        font-size: 1.2rem; /* Adjust font size for better readability */
    }

    .testimonial-head h2 {
        font-size: 1.8rem; /* Adjust font size for better readability */
    }

    .slider-cantner {
        padding: 12px; /* Add padding to prevent overflow */
    }

    .review-section {
        width: 100%;
        padding: 0 10px; /* Add padding to prevent overflow */
    }

    .review-content img {
        width: 2.5rem;
        height: 2.5rem; /* Ensure height is the same as width */
    }
}
