

.header{
    width: 100%;
    height: 3rem;
    padding: 5px 0;
    font-family: var(--main-font);
    display: flex;
    justify-content: space-around    ;
    align-items: center;
    /* gap: 4rem; */
    background-color: var( --main-color);
    color: var(--white-color);
}
.location{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
.admin button{
    width: 7rem;
    height: 2rem;
    background-color: var( --btn-color);
    color: var(--white-color);
    border: none;
    border-radius: 5px;
}